<div class="single-product">
    <div class="container">
        <div class="header-section">
            <h3> <span> Our </span>Products</h3>
            <p>best collection</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12" *ngFor="let card of sets">
                <div class="card mb-3 mt-5">
                    <div class="card-wrapper">
                        <div class="icons-heart">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="img-wrapper" (click)="staticModal.show()">
                            <img [src]="card.img" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{card.productTitle}}</h5>
                            <div class="card-body-detail ">
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                                <span class="price">{{card.price}} EGP</span>
                            </div>
                        </div>
                        <div class="cart-section">
                            <button class="btn btn-primary p3" style="width: 100%;"><i
                                    class="fas fa-shopping-cart mr-3"></i>Add To cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button> -->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-dialog-centered modal-sm" *ngFor="let card of sets">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Static modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img [src]="card.img" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>