.single-product {
    padding-bottom: 50px;
}
.card {
    height: 300px;
    margin-right: .5rem;
    border-radius: 10px; 
}
.owl-item {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
img {
    height: 300px;
    padding: 50px;
}
.header-section {
    position: relative;
}
h3 {
    color: #303030;
    font-size: 40px;
    margin-bottom: 0;
}
h3::before {
    position: absolute;
    content: "";
    border-left: 4px solid #ee4143;;
    height: 35px;
    left: -8px;
}
p::before {
    position: absolute;
    content: "";
    border-left: 4px solid #b7b7b7;
    height: 35px;
    left: -8px;
    top: 35px;
}
h5 {
    font-size: 14px;
}
.content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 10px;

  }
  
//   .card:hover .content-overlay{
//     opacity: 1;
//   }

//   .content-details {
//     position: absolute;
//     text-align: center;
//     padding-left: 1em;
//     padding-right: 1em;
//     width: 100%;
//     top: 50%;
//     left: 50%;
//     opacity: 0;
//     -webkit-transform: translate(-50%, -50%);
//     -moz-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     -webkit-transition: all 0.3s ease-in-out 0s;
//     -moz-transition: all 0.3s ease-in-out 0s;
//     transition: all 0.3s ease-in-out 0s;
//   }
  
//   .card:hover .content-details{
//     top: 50%;
//     left: 50%;
//     opacity: 1;
//   }
  
//   .fadeIn-left{
//     left: 20%;
//   }

// .card-body a {
//     opacity: 1;
// }
//   .card-body i {
//     font-size: 16px;
//     color: #fff;
//     width: 40px;
//     height: 40px;
//     background-color: #ee4143;
//     margin-left: 20px;
//     opacity: 1;
//     line-height: 2.2;
//   }

h5 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
.card-body p {
  font-size: 12px;

}
.card-img {
  position: relative;
  margin: auto;
  overflow: hidden;
  border: none;
  border-radius: 0;
}
.card-img img {
  max-width: 100%;
  transition: all 1s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  border-radius: 0;
  height: 230px;
  padding: 10px;
}  
.card-img:hover img {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 330px;
  width: 98%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hover06:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.text i:hover {
    transition: .5s all ease-in-out;

}

i {
  width: 40px;
  height: 40px;
  border: 1px solid #ee4143;
  background-color: #ee4143;
  margin-right: 10px;
  text-align: center;
  line-height: 2.4;
  border-radius: 10px;
  border-top-left-radius: 0;
  cursor: pointer;
  font-size: 14px;
}
.img-wrapper {
  border: 1px solid rgba(82, 76, 76, 0.5);
  border-radius: 10px;
  border-bottom-right-radius:0 ;
  border-bottom-left-radius: 0;
}
.card-body {
  border: 1px solid rgba(0,0,0,.5);
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-top-right-radius:0 ;
  border-top-left-radius: 0;
}
.card {
  position: relative;
  height: 400px;
  // border: 1px solid #000;

}
span {
  color : #ee4143;
}