.single-product {
    padding-bottom: 50px;
}
.card {
    height: 300px;
    margin-right: .5rem;
    border-radius: 10px; 
}
.owl-item {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
img {
    height: 300px;
    padding: 50px;
}
.header-section {
    position: relative;
}
h3 {
    color: #303030;
    font-size: 40px;
    margin-bottom: 0;
}
h3::before {
    position: absolute;
    content: "";
    border-left: 4px solid #ee4143;;
    height: 35px;
    left: -8px;
}
p::before {
    position: absolute;
    content: "";
    border-left: 4px solid #b7b7b7;
    height: 35px;
    left: -8px;
    top: 35px;
}
h5 {
    font-size: 14px;
}
.content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 10px;

  }
  
  .card:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .card:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .fadeIn-left{
    left: 20%;
  }

.card-body a {
    opacity: 1;
}
  .card-body i {
    font-size: 16px;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #ee4143;
    margin-left: 20px;
    opacity: 1;
    line-height: 2.2;
  }

