.side-bar{
    margin-top: 20px;
}
.sideBar-section {
    padding-bottom: 100px;
    padding-top: 100px;
}
.badge-primary {
    background: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 0rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
// .card {
//     width: 250px;
//     height: 400px;

//     box-shadow: 0 5px 5px rgba(0,0,0,.1);
   
//     border: none;
// }
// img {
//     height: 260px;
//     padding: 10px;
//     border-radius: 50px;
//     border-top-left-radius: 0;
// }
.card-body h5 {
    font-size: 14px;
    font-weight: 500;
}
p {
    font-size: 12px;
    font-weight: 400;
}
// .btn-primary {
//     border-radius: 50px;
//     border-top-left-radius: 0;
//     background-color: #ee4143;
//     border: #ee4143;
// }
.side-bar h5 {
    color: #ee4143;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-body {
    text-align: center;
    padding: 2px;
}
.card-body p {
    margin-bottom: 1px;
}

img {
    padding: 38px;
  height: 300px;
  width: 300px;
  }
  h3 {
      color: #303030;
      font-size: 40px;
      margin-bottom: 0;
  }
  .card {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  h5 {
      font-size: 14px;
  }
  .img-wrapper {
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-body {
    background-color: #9297ab;
    margin-top: 1rem;
    color: #fff;
    padding: 1.25rem;
  }
    
  .price {
    font-weight: 500; 
  }
  
  .card-body-detail {
    display: flex;
    justify-content: space-between;
  }
  .btn-primary {
    border-top-left-radius:0;
    border-top-right-radius: 0;
    border: none;
  }
  .btn-primary {
    background-color: #1f365c;
  }
  
  .card-wrapper {
    position: relative;
  }
  .icons-heart{
  position: absolute;
      top: 6px;
      left: 10px;
      top: 15px;
      z-index: 1;
      background-color: rgba(0,0,0,0.6);
      padding: 9px 10px;
      display: inline-block;
      color: #fff;
      line-height: 1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
    }
    .icons-heart:hover {
      color: #1f365c;
      transition: .5s all ease-in-out;
  
    }
    .card:hover {
      transform: translate(0, -4px);
      transition: .5s all ease-in-out;
    }
    .header-wapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .storeName {
      font-size: 10px;
    }
    .rating-product .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      font-size: 22px;
      background-color: none;
      border: none;
      padding: 0;
      font-size: 1rem;
           border-radius: none;
     
  }
  .rating-product .btn-warning {
    background: none;
    border: none;
    color: #e0a800;
    font-size: 22px;
  }
  .rating-product .btn-warning:hover {
    color: #d39e00;
  
  }