<form [formGroup]='registrationForm' (ngSubmit)='onregisterSubmit(registrationForm)'>

    <input type="text" formControlName='name' placeholder="enter your name " id="uname">
    <!-- <div *ngIf='registrationForm.controls.name.hasError("pattern")&&registrationForm.controls.name.touched'>
        must contain 6 carchter between a-z 0-9
    </div> -->
    <div *ngIf='registrationForm.controls.name.hasError("required")&&registrationForm.controls.name.touched'>
        confirm password is required
    </div>

    <input type="text" formControlName='email' placeholder="enter your email ">
    <!-- <div *ngIf='registrationForm.controls.email.hasError("pattern")&&registrationForm.controls.email.touched'>
        the email should be ex : dsa@gmail.com
    </div> -->
    <div *ngIf='registrationForm.controls.email.hasError("required")&&registrationForm.controls.email.touched'>
        confirm password is required
    </div>

    <input type="password" formControlName='password' placeholder="enter your password">
    <!-- <div *ngIf='registrationForm.controls.password.hasError("pattern")&&registrationForm.controls.password.touched'>
        the password should contain ex :a-z,A-Z,0-9,!@#
    </div> -->

    <div *ngIf='registrationForm.controls.password.hasError("required")&&registrationForm.controls.password.touched'>
        confirm password is required
    </div>

    <input type="password" formControlName='confirmPassword' placeholder="confirm your password ">
    <div
        *ngIf='registrationForm.controls.confirmPassword.hasError("match")&&registrationForm.controls.confirmPassword.touched'>
        password dosen't match
    </div>

    <div *ngIf='registrationForm.controls.confirmPassword.hasError("required")&&registrationForm.controls.confirmPassword.touched'>
        confirm password is required
    </div>


    <button type="submit">
        submit
    </button>

</form>
