<section class="container-fluid total">
    <div class="row">
  
      <div class="container col-md-6" id="any">
  
        <!-- <h4 class=" logo__text heading-1">PetObey</h4> -->
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="col-md-10 offset-md-1">
          <h6 class="breadcrumb__text">Contact Information</h6>
          <div class="row">
  
            <div class="col-md-6">
              <input formControlName="fName" type="text" class="form-control" placeholder="First name">
              <div *ngIf="myForm.get('fName').hasError('required')&&myForm.controls.fName.touched">
                <!-- First Name is required -->
              </div>
            </div>
            <div class="col-md-6">
              <input formControlName="lName" class="form-control" placeholder="Last Name">
              <div *ngIf="myForm.get('lName').hasError('required')&&myForm.controls.lName.touched">
                <!-- Last Name is required -->
              </div>
            </div>
          </div>
  
  
          <input formControlName="email" class="form-control" placeholder="Please Enter Email">
          <div *ngIf="myForm.get('email').hasError('required')&&myForm.controls.email.touched" class="alert alert-danger"
            role="alert">
            Email is required
          </div>
          <div *ngIf="myForm.get('email').hasError('pattern')" class="alert alert-danger" role="alert">
            the email should be ex : dsa@gmail.com
          </div>
  
          <input formControlName="mobile" placeholder="Your email" class="form-control" placeholder="Please Enter Mobile">
          <div *ngIf="myForm.controls.mobile.hasError('pattern')&&myForm.controls.mobile.touched"
            class="alert alert-danger" role="alert">
            Mobile should be 11 number start with 01
          </div>
          <div *ngIf="myForm.controls.mobile.hasError('required')&&myForm.controls.mobile.touched"
            class="alert alert-danger" role="alert">
            Mobile is required
          </div>
  
          <h6 class="breadcrumb__text">Shipping Address</h6>
  
          
  
          <input formControlName="address" class="form-control" placeholder="Please enter Your address">
          <div *ngIf="myForm.get('address').hasError('required')&&myForm.controls.address.touched"
            class="alert alert-danger" role="alert">
            Address is required
          </div>
  
          
          <input formControlName="city" class="form-control" placeholder="Please enter Your City">
          <div *ngIf="myForm.get('city').hasError('required')&&myForm.controls.city.touched" class="alert alert-danger"
            role="alert">
            City is required
          </div>
  
          <div class="selection">
  
  
          
  
              <input formControlName="postalCode" class="form-control w-25" placeholder="Postal code">
              <div *ngIf="myForm.get('postalCode').hasError('required')&&myForm.controls.postalCode.touched"
                class="alert alert-danger" role="alert">
                Postal code is required
            </div>
          </div>
  
          <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">
            Checkout
          </button>
        </form>
      </div>
      <div class="container col-md-6 right">
        <div class="content col-md-10 offset-md-1">
  
          <div class="media content-item">
            <img src="assets/img/1.jpg" class="mr-3" width="100px" height="100px">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              Cras sit amet nibh libero
            </div>
          </div>
  
          <div class="content-item">
            <p>90$</p>
          </div>
        </div>
        <div class="content  col-md-10 offset-md-1">
          <div class="content-item">
            <p>ay 7aja</p>
            <p>aya 7aja</p>
  
          </div>
          <div class="content-item">
            <p>aya 7aja</p>
            <p>aya 7aja</p>
  
          </div>
        </div>
        <div class="content  col-md-10 offset-md-1 last">
          <div class="content-item">
            <p>total</p>
          </div>
          <div class="content-item ">
            <p>1000$</p>
          </div>
        </div>
      </div>
    </div>
  </section>