.total{
    padding-top: 4.7rem;
    padding-left: 5px;
 
 }
 input{
     padding-left: 5px;
 
 }
 
 input,select{
     padding: 10px 0;
     border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
 
  }
  
  h4,h6{
      padding: 20px 0;
  }
 
  .right{
      background-color: #fafafa;
      height: 700px;
 
  }
  .content{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
 
  }
  .content{
      border-bottom: 1px solid gray;
  }
  .content-item {
 margin-bottom: 30px;
  }
  .last{
      border: none;
  }