.container {
  padding-left: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding: 10px;
}
.bg-light {
  background-color: #fff !important;
  background: none;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Montserrat;
    color:  #303030;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav {
    align-items: center;
}
.dropdown-toggle {
    background : none;
    font-family: Montserrat;
    padding: 0 100px;
    color: #303030;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
    text-transform: uppercase;

}
.btn-group:hover>.dropdown-menu {
    display: inline-block;
    
  }
  .form-inline .btn-success {
    background: none;
    border: none;
  }
  .form-inline .btn-success i {
      color: #ee4143;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .dropdown-menu {
    padding: 1.5rem 1.5rem;
  }


  .form-inline .dropdown-menu {
    position: absolute;
    top: 100%;
    // left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1.5rem 1.5rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  .search-icons::after {
    display: inline-block;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
  }
  .form-inline .btn-primary {
    color: #ee4143;
    border: none;
  }
  .form-inline .btn-primary.one{
    border: none;
    color: #fff;
    background-color: #ee4143;
    
  }
  #dropdown-basic i {
    color: #fff;

  }
  .body-menu {
    left: -245px !important;
  }
  // .active {
  //   color: #ee4143;
  // }
  .active-link {
    color: #3F51B5 !important; /* Note: You could also use a custom theme */
  }
