<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logo12.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="droptoggle($event)">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                        routerLink="/">Home</a>
                </li>
                <li div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn  search-icons dropdown-toggle"
                    aria-controls="dropdown-basic">
                        Dog <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Dog</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                  </li>
                </ul>
                </li>

                <li div class="btn-group" dropdown>

                    <button dropdownToggle type="button" class="btn  search-icons dropdown-toggle"
                    aria-controls="dropdown-basic" routerLinkActive="active-link">
                        Cat <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Cat</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                  
                  <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                  </li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/ourServices">services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" routerLink="/blog">Blog</a>
                </li>
            </ul>
            <form class="form-inline ml-auto my-lg-0">

                <div class="btn-group" dropdown>
                    <div role="menu" aria-labelledby="button-basic">
                        <div id="search" class="search-hidden">
                            <form class="d-flex style-search">
                                <mat-form-field class="example-full-width">
                                    <input list="browsers" type="search" placeholder="Search" class="form-control"
                                        matInput aria-label="State" [matAutocomplete]="auto" [formControl]="mySearch">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let product of filterAutoComplete | async"
                                            [value]="product.productTitle">
                                            <img class="example-option-img" aria-hidden [src]="product.img" height="25">
                                            <span>{{product.productTitle}}</span> |
                                            <small>{{product.storeName}}</small>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <button routerLink="/result" type="submit" [disabled]="mySearch.invalid"
                                    class="btn  one" (click)=onSubmit(mySearch)>
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn  search-icons pl-4 btn-toggle dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <i class="far fa-user"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item"  routerLink="/signin">Sign In</a></li>
                        <li role="menuitem"><a class="dropdown-item" routerLink="/signup">Sign Up</a></li>
                    </ul>
                </div>



                <button class="btn  my-2 my-sm-0" type="submit">
                    <a routerLink="/shoppingCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-warning" >{{ total  }}</span>
                    </a>
                </button>
            </form>
        </div>
    </div>
</nav>