<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand wow fadeInLeft" href="#"><img src="../../assets/img/logo12.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="droptoggle($event)">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                        routerLink="/">Home</a>
                </li>

                <div class="btn-group" dropdown>

                    <button id="button-basic" routerLinkActive="active-link" routerLink="/dog" dropdownToggle
                        type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
                        Dog <span class="caret"></span>
                    </button>
                    <div id="dropdown-basic sub-menu" role="menuitem" dropdown triggers="mouseover" placement="right"
                        container="body" class="dropdown-menu" role="menu" aria-labelledby="button-basic"
                        routerLinkActive="active-link">
                        <a routerLink="/dog/Dry Food" role="menuitem"><a class="dropdown-item" href="#">dry</a>

                        </a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Bath & Dry</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#"> Styling</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Medical Bath</a>
                        </a>
                    </div>

                </div>
                <li class="btn-group" dropdown>

                    <button routerLink="/cat" id="button-basic" routerLinkActive="active-link" dropdownToggle
                        type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
                        Cat <span class="caret"></span>
                    </button>
                    <div id="dropdown-basic sub-menu" role="menuitem" dropdown triggers="mouseover" placement="right"
                        container="body" class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <a routerLink="/products/cat/dry food" role="menuitem"><a class="dropdown-item" href="#">Full
                                Grooming</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Bath & Dry</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#"> Styling</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Medical Bath</a>
                        </a>
                    </div>

                </li>
                <li class="btn-group" dropdown>

                    <button routerLink="/bird" id="button-basic" routerLinkActive="active-link" dropdownToggle
                        type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
                        Bird <span class="caret"></span>
                    </button>
                    <div id="dropdown-basic sub-menu" role="menuitem" dropdown triggers="mouseover" placement="right"
                        container="body" class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <a role="menuitem"><a class="dropdown-item" href="#">Full Grooming</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Bath & Dry</a></a>
                        <a role="menuitem"><a class="dropdown-item" href="#"> Styling</a></a>
                        <a class="divider dropdown-divider"></a>
                        <a role="menuitem"><a class="dropdown-item" href="#">Medical Bath</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/blog" routerLinkActive="active-link">Blog</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="btn-group" dropdown #dropdown="bs-dropdown" >
                    

                    <div class="btn-group">
                        <!-- <button type="button" class="btn btn-primary search-icons"
                            (click)="divToggle($event)">
                            <i class="fas fa-search" aria-controls="search" data-target="#search"></i>
                        </button> -->

                        <div id="search" class="search-hidden">
                            <form [formGroup]="mySearch" (ngSubmit)="onSubmit(mySearch.value.search)" class="d-flex">
                                <input type="search" formControlName="search" placeholder="Your name"
                                    class="form-control">
                                <button routerLink="/result" type="submit" class="btn btn-primary one">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- <div id="dropdown-basic" *dropdownMenu class="dropdown-menu body-menu" role="menu"
                            aria-labelledby="button-basic">
                        </div> -->
                        <button class="btn btn-success search-icons dropdown-toggle my-2 my-sm-0" (click)="divToggle1($event)" type="button">
                            <i class="far fa-user"></i></button>
                        <div *ngIf="toggle3" role="menu" aria-labelledby="button-basic" triggers="mouseover" class="list-user">
                            <a role="menuitem"><a class="dropdown-item" href="#">Sign In</a></a>
                            <a role="menuitem"><a class="dropdown-item" href="#">Sign Up</a></a>
                        </div>
                        <button class="btn btn-success my-2 my-sm-0" type="submit"><i
                                class="fas fa-shopping-cart"></i></button>
                                
                    </div>
                </div>
            </form>
        </div>

    </div>
</nav>