
<section class="userData">
    <h1>username data </h1>
   
   
    <p>your name is :  {{userData.fName}}</p> 
    <p>your name is :  {{userData.name}}</p> 
    <p>your number is :   {{userData.number}}</p>
    <p>your address is :   {{userData.address}}</p>
    <p>your email is :  {{userData.email}}</p>
    <p>your city is :  {{userData.city}}</p>
     <p> your postalCode is     {{userData.postalCode}} </p>         
     </section>
   
   <!-- <section class="productData">
      <div class="row">
       <ng-container  >
        <div class="col">
         <div class="card" style="width: 18rem;">
           <img src="{{products[0].img}}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">{{products[0].title}}</h5>
             <p class="card-text">{{products[0].descriptionSmall}}</p>
             <a href="#" class="btn btn-primary">Add To Cart</a>
           </div>
            </div>
      </div>
      <div></div> 
       </ng-container>
    </div>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
   </section> -->
