.section-login {
    background: url('../../assets/imgs/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 45rem;
    background-position: top;
}
.btn-primary {
    width: 100%;
}
.form-design {
    margin-top: 20%;
}