// .section-galary {
//     padding-bottom: 100px;
// }
.header-section {
    position: relative;
}
h3 {
    color: #303030;
    font-size: 40px;
    margin-bottom: 0;
}

.card-img {
    position: relative;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 0;
}
.card-img img {
    max-width: 100%;
    transition: all 1s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 0;
}  
.card-img:hover img {
    transform: scale(1.1);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
  }
  
  .hover06:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ee4143;
    background-color: #ee4143;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.7;
  }
  .text:hover {
      border: 1px solid #ee4143;
    transition: .5s all ease-in-out;
  }
  .text i:hover {
      transition: .5s all ease-in-out;
  }