<carousel>
  <slide>
    <img src="https://demo.fieldthemes.com/ps_petshop/home1/modules/fieldslideshow/images/slider-111.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption">
      <div class="container">

      <div class="carousel-captionTwo__title d-flex align-items-center">
        <i class="fas fa-play"></i>
        <h3>NEW ARRIVALS</h3>
        </div>
      <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
        <i class="fas fa-play"></i>
        <p> SALE UP TO 40% OFF</p>
    </div>
    
    </div>
    </div>
  </slide>
  <slide>
    <img src="https://demo.fieldthemes.com/ps_petshop/home1/modules/fieldslideshow/images/slider-222.jpg"
      alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-captionTwo">
      <div class="carousel-captionTwo__title d-flex align-items-center">
        <i class="fas fa-play"></i>
        <h3> Second slide label</h3>
      </div>
      <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
        <i class="fas fa-play"></i>
      <p> new collection 2020</p>
    </div>
    </div>
  </slide>
  <slide>
    <img src="https://demo.fieldthemes.com/ps_petshop/home1/modules/fieldslideshow/images/slider-333.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption">
      <!-- <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      <div class="carousel-captionTwo__title d-flex align-items-center">
        <i class="fas fa-play"></i>
        <h3> Second slide label</h3>
      </div>
      <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
        <i class="fas fa-play"></i>
      <p> new collection 2020</p>
    </div>
    </div>
  </slide>
</carousel>