<!-- <owl-carousel-o class="w-100" [options]="customOptions" #owlCat>
  <ng-container *ngFor="let card of images">
    <ng-template carouselSlide>
      <img src="card.img" alt="first slide" style="display: block; width: 100%;"> -->
<!-- <div class="carousel-caption">
          <div class="container">

            <div class="carousel-captionTwo__title d-flex align-items-center">
              <i class="fas fa-play"></i>
              <h3>NEW ARRIVALS</h3>
            </div>
            <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
              <i class="fas fa-play"></i>
              <p> SALE UP TO 40% OFF</p>
            </div>

          </div>
        </div> -->
<!-- <img src="https://demo.fieldthemes.com/ps_petshop/home1/modules/fieldslideshow/images/slider-222.jpg"
          alt="second slide" style="display: block; width: 100%;"> -->
<!-- <div class="carousel-captionTwo">
          <div class="carousel-captionTwo__title d-flex align-items-center">
            <i class="fas fa-play"></i>
            <h3> Second slide label</h3>
          </div>
          <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
            <i class="fas fa-play"></i>
            <p> new collection 2020</p>
          </div>
        </div> -->

<!-- <img src="https://demo.fieldthemes.com/ps_petshop/home1/modules/fieldslideshow/images/slider-333.jpg"
          alt="third slide" style="display: block; width: 100%;"> -->
<!-- <div class="carousel-caption">

          <div class="carousel-captionTwo__title d-flex align-items-center">
            <i class="fas fa-play"></i>
            <h3> Second slide label</h3>
          </div>
          <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
            <i class="fas fa-play"></i>
            <p> new collection 2020</p>
          </div>
        </div> -->
<!-- 
  </ng-container>
  </ng-template>
</owl-carousel-o> -->


<owl-carousel-o [options]="customOptions"  #owlCat>
  <ng-container>
    <ng-template carouselSlide *ngFor="let img of images">
      <!-- <div *ngIf ="img.id = slide"> -->
      <div class="card">
        <div class="card-img">
          <img class="card-img-top image" [src]="img.img" alt="Card image cap">
          <div class="container">
            <div class="carousel-captionTwo__title d-flex align-items-center">
              <i class="fas fa-play"></i>
              <h3>NEW ARRIVALS</h3>
            </div>
            <div class="carousel-captionTwo__paraghaph d-flex align-items-center">
              <i class="fas fa-play"></i>
              <p> SALE UP TO 40% OFF</p>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
    </ng-template>
  </ng-container>
</owl-carousel-o>