<section class="our-services mb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        
<div class="card">
  <h5 class="card-header">
    Choose Your Services
  </h5>
  <div class="card-body">

    
    <form [formGroup]="servicesForm" (ngSubmit)="onSubmit(servicesForm)">

      <div class="form-group " >

        <!-- <div class="alert alert-danger" role="alert" 
        *ngIf="servicesForm.get('checkServeices').hasError('required')">
          Services is required, select atleast one Services.
        </div> -->

        <label class="checkBox" *ngFor="let item of data">
          
          <input type="checkbox"  [value]="item.name" class="mr-1" [name]="item.price"  (change)="onChange($event)">
          {{ item.name }}
        </label>
      </div>
     

      
      <div class="form-group ">
        <label>Cat</label>
        <input type="number" class="form-control w-25" min="0" [value]="0" formControlName="cat" (change)="onChangevalue($event)">
      </div>
      <div class="form-group ">
        <label >Dog</label>
        <input type="number" class="form-control w-25" min="0" formControlName="dog" (change)="onChangevalue($event)">
      </div>

    

      <div class="form-group">
        <label class="ml-2">Choose Your Date</label>
        <input formControlName="date" type="text"  placeholder="Choose Your Date" class="form-control w-25" bsDatepicker  [bsConfig]="{ adaptivePosition: true }">
      </div>
      <!-- <div class="alert alert-danger" role="alert" *ngIf="servicesForm.get('date').hasError('required') && servicesForm.get('date').touched">
          date is required.
      </div> -->
      <button type="submit" class="btn btn-success" [disabled]="!servicesForm.valid">Book</button>

    </form>

   
  </div>
  <div class="card-footer">
    <h5>Total Price : {{total}}</h5>

  </div>
</div>



      </div><!-- End Col -->
    </div> <!-- End Row  -->
  </div><!-- End Container -->
</section><!-- End Our Services-->



