<section class="our-services mb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        

        <form [formGroup]="servicesForm" (ngSubmit)="onSubmit(servicesForm)">
          <h2>Choose Your Services</h2>

          <div class="form-group " >
            <div class="alert alert-danger" role="alert" *ngIf="servicesForm.get('checkServeices').hasError('required')">
              Services is required, select atleast one value.
            </div>
            <label class="ml-2" *ngFor="let item of data">
              <input type="checkbox" [value]="item.name"  (change)="onChange($event)">
              {{ item.name }}
            </label>
            <!-- <h1>{{totalPrice()}}</h1> -->
          </div>
         

          <hr>
          <div class="form-group ">
            <label>Cat</label>
            <input type="number" class="form-control" formControlName="cat">
          </div>
          <div class="form-group ">
            <label >Dog</label>
            <input type="number" class="form-control" formControlName="dog">
          </div>

          <div class="form-group">
            <label class="ml-2">Choose Your Date</label>
            <input formControlName="date" type="text"  placeholder="Choose Your Date" class="form-control" bsDatepicker>
          </div>

          <button type="submit" class="btn btn-success">Book</button>
        </form>



      </div><!-- End Col -->
    </div> <!-- End Row  -->
  </div><!-- End Container -->
</section><!-- End Our Services-->
