<section class="section-offers">
    <div class="container">
        <div class="header-section">
            <h3> <span> Our </span>spical offer products</h3>
            <p>best collection</p>
        </div>
        <!-- <owl-carousel-o class="w-100" [options]="customOptions" #owlCat> -->

        <!-- <ng-container  class="col-md-3">
            <ng-template carouselSlide> -->
        <div class="row">
            <div class="col-md-3" *ngFor="let card of sets">
                <div class="card card-img hover06 mt-4">
                    <div class="card-wrapper">
                        <span class="offer">Offer</span>
                        <span class="discount">20%</span>
                        <div class="icons-heart">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="img-wrapper">
                            <img [src]="card.img" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{card.productTitle}}</h5>
                            <div class="card-body-detail ">
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                            </div>
                            <div class="price-detail">
                                <del class="mr-3">{{card.price}} EGP</del>
                                <span class="real-price text-white">100.00 EGP</span>
                            </div>
                        </div>
                        <div class="cart-section">
                            <button class="btn btn-primary p3" style="width: 100%;"><i
                                    class="fas fa-shopping-cart mr-3"></i>Add To cart</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- </ng-template>
        </ng-container>

    </owl-carousel-o> -->
    <!-- </div> -->
</section>