<!-- <section class="container">
    <div class="row">
        <div class="card col-md-4" *ngFor = 'let item of dogData' >
            <img src="{{item.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.productTitle}}</h5>
              <p class="card-text">{{item.storeName}}</p>
              <button type="button" (click)="onAddCart(item)" class="btn btn-primary">Add To cart</button>
            </div>
          </div>
        

    </div>

</section> -->



<div class="single-product">
  <div class="container">
      <div class="header-section">
          <h3> <span> Our </span>Products</h3>
          <p>best collection</p>
      </div>
      <div class="row">
          <div class="col-md-3 col-sm-12" *ngFor = 'let item of dogData' >
              <div class="card mb-3 mt-5">
                  <div class="card-wrapper">
                      
                      <div class="img-wrapper">
                          <img [src]="item.img" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body">
                        <div class="header-wapper"> 
                            <h5 class="card-title">{{item.productTitle}}</h5>
                              <span class="storeName">{{item.storeName}}</span>
                            </div>
                          <div class="card-body-detail ">
                              <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
                              <span class="price">{{item.price}} EGP</span>
                          </div>
                      </div>
                      <div class="cart-section">
                        <button class="btn btn-primary btn-block p3" type="button" (click)="onAddToCart(item)"><i
                          class="fas fa-shopping-cart mr-3"></i>Add To cart</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>