
<div class="container" *ngIf="postItem">
    <div class="cards">
        <div class="row">
            <div class="col-md-6">
                <img class="card-img-top" src="{{ postItem.img }}" alt="Card image cap">
            </div>
            <div class="col-md-6">
                <h5 class="card-title my-4">{{postItem.productTitle}}</h5>
                <div class="card-bodys">
                    <p class="lead">{{postItem.descrtion}}</p>
                    <p>price : {{postItem.price}}</p>
                    <p>store Name : {{ postItem.storeName }}</p>
                    <button class="btn btn-primary mr-2" type="button" (click)="onDecrease()">-</button>
                    <span>{{quantity}}</span>
                    <button type="button" class="btn btn-primary ml-2" (click)="onIncrease()">+</button>

                    <button class="btn btn-success d-block mt-3" (click)="onAddToCart(postItem)">Add To Cart</button>
            </div>
        </div>
    </div>
    </div>






       
    
   