.product-icons {
     color: #ee4143;
    font-size: 50px;
}
.btn-primary {
border-radius: 10px;
border-top-left-radius: 0;
background-color: #ee4143;
border-color: #ee4143;
}
.btn-outline-success {
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: #ee4143;
    border-color: #ee4143; 
    color: #fff;
}