.shipping-area{
    background: #291c1d none repeat scroll 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.shipping-area p {
    font-size: 13px;
}

.shipping-area__item-desc i {
    margin-right: 8px;
    color: #dd611e;
    font-size: 25px;
}
.shipping-area__item-desc h5 {
    display: inline-block;
}