<!-- <p>single-blog works!</p> -->
<div class="container single-blog" *ngIf="postItem">
    <!-- <h1>{{postItem.title}}</h1>
    <p>{{postItem.description}}</p> -->
    <div class="cards">
        <div class="row">
            <div class="col-md-5">
                <img class="card-img-top" src="{{ postItem.img }}" alt="Card image cap">
                </div>
                <div class="col-md-7">
                <h5 class="card-title">{{postItem.title}}</h5>
                <div class="card-bodys">
                    <p class="lead">{{postItem.description}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>